main {
  min-height: 80vh;
}

.rating span {
  margin: 0.07rem;
}

h3 {
  padding: 1rem 0;
}

.navbar {
  font-size: 1rem;
  font-weight: 500;
}

#addcart {
  border-radius: 0%;
}

.link {
  color: #2c3e50;
}

.link :hover {
  color: #7b818b;
  text-decoration: underline;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  margin: 0 6px;
  border-radius: 100%;
}

.carousel a {
  margin: 0 auto;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}
